a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.xterm {
    cursor: text;
    position: relative;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

.xterm.focus,
.xterm:focus {
    outline: none
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    z-index: 5
}

.xterm .xterm-helper-textarea {
    padding: 0;
    border: 0;
    margin: 0;
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    white-space: nowrap;
    overflow: hidden;
    resize: none
}

.xterm .composition-view {
    background: #000;
    color: #fff;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1
}

.xterm .composition-view.active {
    display: block
}

.xterm .xterm-viewport {
    background-color: #000;
    overflow-y: auto;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

.xterm-viewport::-webkit-scrollbar {
    width: 3px
}

.xterm-viewport::-webkit-scrollbar-track {
    background-color: var(--color-grey)
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: var(--color-dark-grey)
}

.xterm .xterm-screen {
    position: relative
}

.xterm .xterm-screen canvas {
    position: absolute;
    left: 0;
    top: 0
}

.xterm .xterm-scroll-area {
    visibility: hidden
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal
}

.xterm.enable-mouse-events {
    cursor: default
}

.xterm .xterm-cursor-pointer,
.xterm.xterm-cursor-pointer {
    cursor: pointer
}

.xterm.column-select.focus {
    cursor: crosshair
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    color: transparent
}

.xterm .live-region {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.xterm-dim {
    opacity: .5
}

.xterm-underline-1 {
    text-decoration: underline
}

.xterm-underline-2 {
    -webkit-text-decoration: double underline;
    text-decoration: double underline
}

.xterm-underline-3 {
    -webkit-text-decoration: wavy underline;
    text-decoration: wavy underline
}

.xterm-underline-4 {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline
}

.xterm-underline-5 {
    -webkit-text-decoration: dashed underline;
    text-decoration: dashed underline
}

.xterm-strikethrough {
    text-decoration: line-through
}

.xterm-screen .xterm-decoration-container .xterm-decoration {
    z-index: 6;
    position: absolute
}

.xterm-decoration-overview-ruler {
    z-index: 7;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none
}

.xterm-decoration-top {
    z-index: 2;
    position: relative
}

.xterm-overline {
    text-decoration: overline
}

.xterm-overline.xterm-underline-1 {
    text-decoration: overline underline
}

.xterm-overline.xterm-underline-2 {
    -webkit-text-decoration: overline double underline;
    text-decoration: overline double underline
}

.xterm-overline.xterm-underline-3 {
    -webkit-text-decoration: overline wavy underline;
    text-decoration: overline wavy underline
}

.xterm-overline.xterm-underline-4 {
    -webkit-text-decoration: overline dotted underline;
    text-decoration: overline dotted underline
}

.xterm-overline.xterm-underline-5 {
    -webkit-text-decoration: overline dashed underline;
    text-decoration: overline dashed underline
}

.animate-fade-up {
    animation: fade-up .75s var(--ease) forwards
}

@keyframes fade-up {
    0% {
        transform: translateY(1rem);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

:root {
    --page-margin: 20px;
    --grid-gap: 20px;
    --grid-columns: 4;
    --max-content-width: 1600px;
    --ease: ease-in-out;
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #757575;
    --color-dark-gray: #232323;
    --color-purple: #9552d8;
    --color-pink: #ca55f4;
    --color-green: #adff00;
    --color-grey: #757575;
    --color-dark-grey: #232323;
    --landing-blue: #1202ff;
    --landing-grey: #d1d1d1;
    --landing-red: #e10000;
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 12px;
    --spacing-l: 16px;
    --spacing-xl: 24px;
    --spacing-xxl: 40px;
    --landing-max-width: 1328px;
    --dashboard-ui-row-height: 19px;
    --window-topbar-height: 18px
}

@media(min-width:48em) {
    :root {
        --grid-columns: 12
    }
}

[data-debug=true] {
    outline: 1px solid red
}

#__next,
body,
html {
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0
}

body {
    font-family: ABCDiatypeMono-Regular;
    color: var(--color-theme-text, #fff);
    background-color: var(--color-theme-background, var(--color-gray));
    font-size: 14px
}

html.scroll-lock {
    overflow: hidden;
    position: fixed;
    overscroll-behavior: none
}

.sb-show-main {
    background: var(--color-black)
}

.html.overflow-hidden {
    overflow: hidden
}

.react-p5-wrapper {
    width: 100%;
    height: 100%
}

.p5Canvas {
    image-rendering: pixelated
}

a {
    text-decoration: none
}

#CybotCookiebotDialogNav a.CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
    color: red
}

.Breadcrumbs_breadcrumbs__item__1wUpH {
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    background: url(../../../images/progress_texture_black_1.png);
    background-color: var(--color-gray);
    border-bottom: 1px solid var(--color-black);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Breadcrumbs_breadcrumbs__item__1wUpH:hover:not(:last-of-type) a:nth-child(2) {
    background-color: var(--color-black)
}

.Breadcrumbs_breadcrumbs__item__1wUpH:hover:not(:last-of-type) a:nth-child(2) svg {
    fill: #fff
}

.Breadcrumbs_breadcrumbs__item__1wUpH:active:not(:last-of-type) {
    background-color: transparent
}

.Breadcrumbs_breadcrumbs__item__1wUpH:active:not(:last-of-type) a {
    color: var(--color-white)
}

.Breadcrumbs_breadcrumbs__item__1wUpH:active:not(:last-of-type) a:nth-child(2) {
    background: url(../../../images/progress_texture_black_2.png)
}

.Breadcrumbs_breadcrumbs__item__1wUpH:active:not(:last-of-type) a:nth-child(2) svg {
    fill: #fff
}

.Breadcrumbs_breadcrumbs__item__1wUpH:last-of-type {
    background-color: var(--color-white);
    justify-content: space-between;
    color: var(--color-black)
}

@layer dashboard {
    .DashboardPanel_dashboardPanel__content__ZpclH {
        background: var(--color-dark-grey);
        border-bottom: 1px solid var(--color-black);
        color: #fff;
        min-height: var(--dashboard-ui-row-height);
        padding: 1rem
    }
}

.DashboardPanel_dashboardPanel__VSHyT {
    width: 100%
}

@media(max-width:63.99em) {
    .DashboardPanel_dashboardPanel__VSHyT {
        height: 100%
    }
}

.DashboardPanel_dashboardPanel__titleBar__As5rb {
    height: var(--dashboard-ui-row-height);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    color: #fff;
    background: var(--color-grey);
    padding: 0 1rem
}

@media(max-width:63.99em) {
    .DashboardPanel_dashboardPanel__titleBar__As5rb {
        width: 100%;
        height: var(--dashboard-ui-row-height);
        background: url(../../../images/pattern.png) var(--color-gray);
        border: none;
        border-top: 1px solid var(--color-black);
        border-bottom: 1px solid var(--color-black);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0
    }
}

.DashboardPanel_dashboardPanel__titlebox__phRNh {
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.DashboardPanel_dashboardPanel__titlebox__phRNh p {
    padding: 4px;
    color: var(--color-black)
}

.DashboardPanel_dashboardPanel__toggleSizeBtn__NxIi8 {
    width: 19px;
    border-left: 1px solid var(--color-black);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    color: var(--color-black);
    background-color: var(--color-gray);
    position: absolute;
    right: 0
}

.DashboardPanel_dashboardPanel__toggleSizeBtn__NxIi8[data-expanded=true] p {
    transform: rotate(180deg)
}

.DashboardPanel_dashboardPanelContent__gz81X {
    padding: .5rem .5rem .5rem .25rem;
    color: #fff;
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    border-bottom: 1px solid var(--color-black);
    border: 2px solid #b331e9;
    border-right: 2px solid #31d0e9; 
    border-bottom: 2px solid #315be9;
}

.DashboardPanel_previewPanelProgressBar__lxb79 {
    flex-direction: column;
    width: 50%;
    gap: 2px !important;
    align-items: flex-start !important
}

.DashboardPanel_dashboardPanelContentLine__v3jqC {
    margin-right: 10px
}

.DashboardPanel_dashboardPanelContentLabel__tnrV9 {
    display: inline-block;
    width: 60px
}

.DashboardPanel_dashboardPanelPreview__prr_u {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    padding: 4px
}

.DashboardPanel_dashboardPanelPreview__prr_u[data-scrolling=true] {
    background-color: var(--color-gray)
}

.DashboardPanel_dashboardPanelPreview__prr_u * {
    color: var(--color-white) !important
}

.DashboardPanel_statusContainer__0ul2g {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 13px;
    position: relative;
    color: var(--color-black)
}

.DashboardPanel_statusContainer__title__bVUiw {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px
}

.DashboardPanel_statusContainer__progressBar__EN5H4 {
    width: 55%;
    max-width: 180px
}

.ProgressBar_progressBar__0CWRe {
    height: 13px;
    position: relative;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: BlockZone;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -.66px
}

.ProgressBar_progressBar__bracket__gnao9 {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px
}

.ProgressBar_progressBar__0CWRe[data-theme=white] .ProgressBar_progressBar__bracket__gnao9 {
    color: var(--color-gray)
}

.ProgressBar_progressBar__0CWRe[data-hide-background=true] .ProgressBar_progressBar__bracket__gnao9 {
    display: none
}

.ProgressBar_progressBar__barContainer__0z2Pa {
    flex-grow: 1;
    height: 100%;
    position: relative;
    margin: 0 2px
}

.ProgressBar_progressBar__barBg__o51AE {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-image: url(../../../images/progress_bar_bg_black.png)
}

.ProgressBar_progressBar__0CWRe[data-theme=white] .ProgressBar_progressBar__barBg__o51AE {
    background-image: url(../../../images/progress_bar_bg_white.png)
}

.ProgressBar_progressBar__0CWRe[data-hide-background=true] .ProgressBar_progressBar__barBg__o51AE {
    display: none
}

.ProgressBar_progressBar__barSection__nzTzp {
    position: absolute;
    height: 100%;
    background-color: var(--color-gray)
}

.ProgressBar_progressBar__one__vlLB7 {
    left: 0;
    background-image: url(../../../images/progress_texture_black_1.png)
}

.ProgressBar_progressBar__0CWRe[data-theme=white] .ProgressBar_progressBar__one__vlLB7 {
    background-image: url(../../../images/progress_texture_white_1.png)
}

.ProgressBar_progressBar__two__5jtFd {
    left: 33%;
    background-image: url(../../../images/progress_texture_black_2.png)
}

.ProgressBar_progressBar__0CWRe[data-theme=white] .ProgressBar_progressBar__two__5jtFd {
    background-image: url(../../../images/progress_texture_white_2.png)
}

.ProgressBar_progressBar__three__PPn00 {
    left: 66%;
    background-image: url(../../../images/progress_texture_black_3.png)
}

.ProgressBar_progressBar__0CWRe[data-theme=white] .ProgressBar_progressBar__three__PPn00 {
    background-image: url(../../../images/progress_texture_white_3.png)
}

.Spacer_spacer___yEuF {
    display: block;
    flex-shrink: 0
}

.Console_Console___vXv4 {
    padding: .5rem .25rem;
    border-bottom: 1px solid var(--color-black);
    flex-basis: 100%;
    background-color: var(--color-grey)
}

.Console_Console___vXv4>*+* {
    -webkit-margin-before: .5rem;
    margin-block-start: .5rem
}

.Console_Console__input__a1fQk {
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--color-grey);
    outline: none;
    padding: 0;
    width: 100%
}

.Console_invisibleInput__nlAv3 {
    position: fixed;
    top: -12px;
    left: -12px;
    opacity: 0;
    width: 0;
    height: 0
}

.Window_window__z7w9d {
    position: relative;
    transform-style: preserve-3d
}

.Window_window__z7w9d[data-is-fullscreen=true] {
    width: 100%;
    height: 100%
}

.Window_window__tileBackground__kpPW9 {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: url(../../../images/pattern.png);
    z-index: -1
}

.Window_window__topLayer__9EHGC {
    background-color: var(--color-gray);
    outline: 1px solid var(--color-black)
}

.Window_window__z7w9d[data-is-fullscreen=true] .Window_window__topLayer__9EHGC {
    width: 100%;
    height: 100%
}

.Window_window__topLayer__9EHGC:before {
    content: "";
    position: absolute;
    background-color: var(--color-white);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    outline: 1px solid var(--color-black);
    z-index: -1
}

.Window_window__z7w9d[data-theme=gray-gray] .Window_window__topLayer__9EHGC:before {
    background-color: var(--color-gray)
}

.Window_window__z7w9d[data-theme=purple] .Window_window__topLayer__9EHGC,
.Window_window__z7w9d[data-theme=purple] .Window_window__topLayer__9EHGC:before {
    background-color: var(--color-purple)
}

.Window_window__z7w9d[data-theme=green] .Window_window__topLayer__9EHGC,
.Window_window__z7w9d[data-theme=green] .Window_window__topLayer__9EHGC:before {
    background-color: var(--color-green)
}

.Window_window__z7w9d[data-theme=puzzle] .Window_window__topLayer__9EHGC {
    background-size: cover;
    background: url(../../../images/Puzzle_Background_Tile.jpg)
}

.Window_window__z7w9d[data-active=false] .Window_window__topLayer__9EHGC:before {
    background-color: var(--color-gray)
}

.Window_window__topbar__gAXP_ {
    width: 100%;
    height: var(--window-topbar-height, 18px);
    background: url(../../../images/pattern.png) var(--color-white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Window_window__z7w9d[data-theme=gray-gray] .Window_window__topbar__gAXP_ {
    background: url(../../../images/pattern.png) var(--color-gray)
}

.Window_window__z7w9d[data-theme=purple] .Window_window__topbar__gAXP_ {
    background: url(../../../images/pattern.png) var(--color-purple)
}

.Window_window__z7w9d[data-theme=green] .Window_window__topbar__gAXP_ {
    background: url(../../../images/pattern.png) var(--color-green)
}

.Window_window__z7w9d[data-active=false] .Window_window__topbar__gAXP_ {
    background: url(../../../images/pattern.png) var(--color-gray)
}

.Window_window__titlebox__uta5Y {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase
}

.Window_window__z7w9d[data-theme=gray-gray] .Window_window__titlebox__uta5Y {
    background-color: var(--color-gray)
}

.Window_window__z7w9d[data-theme=purple] .Window_window__titlebox__uta5Y {
    background-color: var(--color-purple)
}

.Window_window__z7w9d[data-theme=green] .Window_window__titlebox__uta5Y {
    background-color: var(--color-green)
}

.Window_window__z7w9d[data-active=false] .Window_window__titlebox__uta5Y {
    background-color: var(--color-gray)
}

.Window_window__titlebox__uta5Y p {
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    padding: 0 4px;
    color: var(--color-black)
}

.Window_window__closeIconClickArea__HrNV5 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    right: -5px;
    z-index: 100;
    pointer-events: all;
    cursor: pointer
}

@media(hover:hover) {

    .Window_window__closeIconClickArea__HrNV5:hover+a,
    .Window_window__closeIconClickArea__HrNV5:hover+div {
        background-color: var(--color-black)
    }

    .Window_window__closeIconClickArea__HrNV5:hover+a svg,
    .Window_window__closeIconClickArea__HrNV5:hover+div svg {
        fill: var(--color-white)
    }

    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:hover+a,
    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:hover+div {
        background-color: var(--color-black)
    }

    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:hover+a svg,
    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:hover+div svg {
        fill: var(--color-purple)
    }

    .Window_window__closeIconClickArea__HrNV5:active+a,
    .Window_window__closeIconClickArea__HrNV5:active+div {
        background: url(../../../images/progress_texture_black_3.png);
        background-color: transparent
    }

    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:active+a,
    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:active+div {
        background-color: transparent
    }

    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:active+a svg,
    .Window_window__z7w9d[data-theme=purple] .Window_window__closeIconClickArea__HrNV5:active+div svg {
        fill: var(--color-purple)
    }
}

.Window_window__closeIcon__xiuO8 {
    width: 19px;
    border-left: 1px solid var(--color-black);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    color: var(--color-black);
    background-color: var(--color-white);
    position: absolute;
    right: 0
}

.Window_window__z7w9d[data-theme=gray-gray] .Window_window__closeIcon__xiuO8 {
    background-color: var(--color-gray)
}

.Window_window__z7w9d[data-theme=purple] .Window_window__closeIcon__xiuO8 {
    background-color: var(--color-purple)
}

.Window_window__z7w9d[data-theme=green] .Window_window__closeIcon__xiuO8 {
    background-color: var(--color-green)
}

.Window_window__z7w9d[data-active=false] .Window_window__closeIcon__xiuO8 {
    background-color: var(--color-gray)
}

.Window_window__inner__OlepD {
    padding: 4px
}

.Window_window__z7w9d[data-is-fullscreen=true] .Window_window__inner__OlepD {
    width: 100%;
    height: 100%
}

.Window_window__inner__OlepD[data-is-puzzle=true] {
    padding: 0
}

.AspectRatio_aspectRatio__hylqe {
    position: relative;
    width: 100%
}

.AspectRatio_aspectRatio__hylqe:before {
    content: "";
    display: block
}

.AspectRatio_aspectRatio__content__rd_i9 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.Button_button__ZIi1r {
    --_bg-color: var(--bg-color, var(--color-white));
    --_bg-color-hover: var(--bg-color-hover, var(--color-black));
    --_color: var(--color, var(--color-black));
    --_color-hover: var(--color, var(--color-black));
    background: var(--_bg-color);
    padding: 10px 16px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--color-black)
}

.Button_button__ZIi1r[data-variant=secondary] {
    background: transparent
}

.Button_button__ZIi1r[data-variant=round] {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: none
}

.Button_button__ZIi1r:disabled {
    pointer-events: none
}

.Button_button__ZIi1r:hover {
    background: var(--_bg-color-hover)
}

.Button_button__ZIi1r:active {
    background: url(../../../images/pattern.png)
}

.Button_button__ZIi1r:disabled {
    background: transparent;
    opacity: .3
}

.Button_button__label__tqM_T {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    color: var(--_color);
    z-index: 1
}

.Button_button__ZIi1r:active .Button_button__label__tqM_T,
.Button_button__ZIi1r:hover .Button_button__label__tqM_T {
    color: var(--_bg-color)
}

.Button_button__leftIcon__ugD00 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 16px;
    fill: var(--_color)
}

.Button_button__ZIi1r[data-variant=round] .Button_button__leftIcon__ugD00 {
    margin-right: 0
}

.Button_button__ZIi1r:active .Button_button__leftIcon__ugD00,
.Button_button__ZIi1r:hover .Button_button__leftIcon__ugD00 {
    color: var(--_bg-color);
    fill: var(--_bg-color)
}

.Button_button__rightIcon__gg6qF {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 16px;
    fill: var(--_color)
}

.Button_button__ZIi1r[data-variant=round] .Button_button__rightIcon__gg6qF {
    margin-left: 0
}

.Button_button__ZIi1r:active .Button_button__rightIcon__gg6qF,
.Button_button__ZIi1r:hover .Button_button__rightIcon__gg6qF {
    color: var(--_bg-color);
    fill: var(--_bg-color)
}

.Select_wrapper__mZyNG {
    position: relative;
    width: 100%
}

.Select_wrapper__mZyNG .Select_select__ujcR9 {
    width: 100%;
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid var(--color-black);
    padding: 8px;
    background: transparent;
    color: var(--color-black);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

.Select_wrapper__mZyNG .Select_select__ujcR9:not(:disabled) {
    cursor: pointer
}

.Select_wrapper__mZyNG .Select_select__ujcR9[data-theme=dark] {
    border: 1px solid var(--color-white);
    color: var(--color-white)
}

.Select_wrapper__mZyNG .Select_select__ujcR9[data-theme=light] {
    border: 1px solid var(--color-black);
    color: var(--color-black)
}

.Select_wrapper__mZyNG .Select_select__ujcR9:active,
.Select_wrapper__mZyNG .Select_select__ujcR9:focus,
.Select_wrapper__mZyNG .Select_select__ujcR9:focus-visible {
    outline: none
}

.Select_wrapper__mZyNG .Select_arrow__oCf9k {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none
}

.LegalWindow_window___BMoQ {
    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 999999;
    width: 320px;
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    line-height: 14px
}

@media(max-width:47.99em) {
    .LegalWindow_window___BMoQ {
        left: unset;
        right: 12px
    }
}

.LegalWindow_window___BMoQ .LegalWindow_content__KSY1B {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 4px
}

.LegalWindow_window___BMoQ .LegalWindow_content__KSY1B .LegalWindow_body__nuMnM {
    color: var(--color-black);
    text-align: left;
    margin: 8px 0;
    font-size: 14px;
    line-height: 16px
}

@media(max-width:47.99em) {
    .LegalWindow_window___BMoQ .LegalWindow_content__KSY1B .LegalWindow_body__nuMnM {
        font-size: 12px;
        line-height: 14px
    }
}

.LegalWindow_window___BMoQ .LegalWindow_content__KSY1B .LegalWindow_cta__9rSv5 {
    text-transform: uppercase
}

.SettingsWindow_settingsWindow__RKsfC {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    position: absolute !important;
    z-index: 99999
}

.SettingsWindow_settingsWindow__imageContainer__SzCHs {
    margin: -4px 0 0 -4px;
    width: calc(100% + 8px)
}

.SettingsWindow_settingsWindow__settingsImage__7wzu_ {
    object-fit: cover;
    width: 100%;
    height: 100%;
    image-rendering: pixelated
}

.SettingsWindow_settingsWindow__versionCopy__a3yIE {
    margin: .5rem 0 1rem
}

.SettingsWindow_settingsWindow__lamguageCopy__Lr_fC {
    margin-bottom: .25rem
}

.SettingsWindow_settingsWindow__info__e_3WZ {
    border: 1px solid var(--color-black);
    padding: 8px
}

.SettingsWindow_settingsWindow__infoCollapsed__xodAN {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer
}

.SettingsWindow_settingsWindow__other__V2HrF {
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.SettingsWindow_settingsWindow__other__V2HrF a {
    margin-top: .5rem;
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-black)
}

.SettingsWindow_show__A1nkT {
    display: flex
}

.SettingsWindow_hide__Ig8Ti {
    display: none
}

.Dashboard_dashboard__a4prP {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    --mobile-console-base-height: calc(var(--dashboard-ui-row-height) * 6);
    --mobile-console-expanded-height: 40vh
}

@media(min-width:48em) {
    .Dashboard_dashboard__a4prP:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 19px;
        z-index: 999;
        border-top: 1px solid var(--color-black);
        background: url(../../../images/pattern.png) var(--color-gray)
    }
}

.Dashboard_dashboard__breadcrumbs__hnrs5,
.Dashboard_dashboard__titleBar__IBf0N {
    display: block;
    height: var(--dashboard-ui-row-height);
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    color: #fff;
    position: relative
}

.Dashboard_dashboard__titleBar__IBf0N {
    background: var(--color-gray);
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 19px;
    background: url(../../../images/pattern.png) var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color-black);
    border: 2px solid #ff5cff;
    border-right: 2px solid #31d0e9;
    border-bottom: 2px solid #315be9;
    background-color: #0000008c !important;
}

.Dashboard_dashboard__titleBarIconContainer__RAcmQ {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gray);
    width: 19px;
    height: 19px;
    border-right: 1px solid var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.Dashboard_dashboard__titleBarIconContainer__RAcmQ svg {
    fill: var(--color-black);
    stroke: var(--color-black)
}

.Dashboard_dashboard__titleBarIconContainerRight__XHW3n {
    left: auto;
    right: 0;
    background-color: var(--color-gray)
}

.Dashboard_dashboard__titleBarIconContainerRight__XHW3n svg {
    fill: var(--color-black)
}

.Dashboard_dashboard__titleBarIconInner__n22Gy {
    background-color: var(--color-gray);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.Dashboard_dashboard__titleBarIconClickArea__ohQVX {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    right: -5px;
    z-index: 100;
    pointer-events: all;
    cursor: pointer
}

@media(hover:hover) {
    .Dashboard_dashboard__titleBarIconClickArea__ohQVX:hover+div {
        background-color: var(--color-black)
    }

    .Dashboard_dashboard__titleBarIconClickArea__ohQVX:hover+div svg {
        fill: var(--color-gray);
        stroke: var(--color-gray)
    }

    .Dashboard_dashboard__titleBarIconClickArea__ohQVX:active+div {
        background: url(../../../images/progress_texture_black_3.png);
        background-color: transparent
    }
}

.Dashboard_dashboard__titleBarIcon__NeFrZ {
    width: 12px;
    height: 12px
}

.Dashboard_dashboard__titleContainer__pr093 {
    padding: 0 4px;
    height: 100%;
    background: var(--color-gray);
    display: flex;
    align-items: center
}

.Dashboard_dashboard__titleContainer__pr093,
.Dashboard_dashboard__title__dDIzY {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px
}

.Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    right: -5px;
    z-index: 100;
    pointer-events: all;
    cursor: pointer
}

@media(hover:hover) {

    .Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC:hover+a,
    .Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC:hover+div {
        background-color: var(--color-black)
    }

    .Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC:hover+a svg,
    .Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC:hover+div svg {
        fill: var(--color-gray)
    }

    .Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC:active+a,
    .Dashboard_dashboard__dashboardCloseIconClickArea__nJAMC:active+div {
        background: url(../../../images/progress_texture_black_3.png);
        background-color: transparent
    }
}

.Dashboard_dashboard__dashboardCloseIcon__8B_sl {
    width: 19px;
    border-left: 1px solid var(--color-black);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    color: var(--color-black);
    background-color: var(--color-gray);
    position: absolute;
    right: 0
}

.Dashboard_dashboard__breadcrumbs__hnrs5 {
    position: absolute;
    top: 0;
    z-index: 999;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    width: -moz-fit-content;
    width: fit-content
}

.Dashboard_dashboard__breadcrumb__Vfm1t {
    height: var(--dashboard-ui-row-height);
    border-right: 1px solid var(--color-black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.Dashboard_dashboard__breadcrumb__Vfm1t[data-disabled=true] {
    pointer-events: none;
    opacity: .5
}

.Dashboard_dashboard__breadcrumb__Vfm1t:last-of-type:not(:first) .Dashboard_dashboard__breadcrumbLabel__kVuYb {
    padding: 0 0 0 8px
}

@media(max-width:47.99em) {
    .Dashboard_dashboard__breadcrumb__Vfm1t:not(:last-child) {
        display: none
    }

    .Dashboard_dashboard__breadcrumb__Vfm1t:last-child {
        width: 100%
    }
}

.Dashboard_dashboard__breadcrumbLabel__kVuYb {
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    color: var(--color-black);
    text-decoration: none;
    padding: 0 8px
}

.Dashboard_dashboard__breadcrumbCloseIcon__sbFYb {
    width: 19px;
    border-left: 1px solid var(--color-black);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px;
    color: var(--color-black);
    background-color: #fff
}

.Dashboard_dashboard__breadcrumbCloseIcon__sbFYb:hover {
    background: var(--color-black)
}

.Dashboard_dashboard__breadcrumbCloseIcon__sbFYb:hover svg {
    fill: #fff
}

.Dashboard_dashboard__breadcrumbCloseIcon__sbFYb:active {
    background: url(../../../images/progress_texture_black_3.png)
}

.Dashboard_dashboard__breadcrumbCloseIcon__sbFYb:active svg {
    fill: #fff
}

.Dashboard_dashboard__main__hydcs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: calc(100% - var(--dashboard-ui-row-height)*2);
    width: 100%
}

@media(max-width:47.99em) {
    .Dashboard_dashboard__main__hydcs {
        height: calc(100% - var(--dashboard-ui-row-height)*1)
    }
}

.Dashboard_dashboard__dataPanelPreviewContent__Dpkm_ {
    background-color: red
}

.Dashboard_dashboard__desktopSidebar__EzSFk {
    width: 328px;
    flex-shrink: 0;
    border-right: 1px solid var(--color-black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

@media(max-width:47.99em) {
    .Dashboard_dashboard__desktopSidebar__EzSFk {
        display: none
    }
}

.Dashboard_dashboard__desktopConsole__26BbO {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-x: hidden;
    border: 2px solid #b331e9;
    border-right: 2px solid #31d0e9; 
    border-bottom: 2px solid #315be9;
}

.Dashboard_dashboard__mobileConsolePanel__plGKn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
    height: var(--mobile-console-base-height);
    z-index: 2
}

.Dashboard_dashboard__mobileConsolePanel__plGKn[data-expanded=true] {
    height: var(--mobile-console-expanded-height)
}

.Dashboard_dashboard__body__NNcFc,
.Dashboard_dashboard__mobileConsolePanel__plGKn>* {
    display: flex;
    flex-direction: column
}

.Dashboard_dashboard__body__NNcFc {
    width: 100%
}

.Dashboard_dashboard__body__NNcFc[data-district-selector=true] {
    background-color: var(--color-dark-gray)
}

.Dashboard_dashboard__content__IpJ5O {
    position: relative;
    flex-basis: 100%;
    flex: 1 1 auto;
    width: 100%;
    scrollbar-gutter: stable
}

@media(max-width:47.99em) {
    .Dashboard_dashboard__content__IpJ5O {
        margin-bottom: var(--mobile-console-base-height, 0)
    }
}

.Dashboard_dashboard__content__IpJ5O[data-allow-scroll=true] {
    overflow-y: auto
}

.Dashboard_dashboard__content__IpJ5O::-webkit-scrollbar {
    width: 8px
}

.Dashboard_dashboard__content__IpJ5O::-webkit-scrollbar-track {
    background-color: var(--color-grey)
}

.Dashboard_dashboard__content__IpJ5O::-webkit-scrollbar-thumb {
    background: var(--color-dark-grey);
    border: 2px solid transparent;
    background-clip: content-box
}

@keyframes Dashboard_slideDown__WHiJ9 {
    0% {
        height: var(--base-height)
    }

    to {
        height: var(--expanded-height)
    }
}

@keyframes Dashboard_slideUp__oCoQj {
    0% {
        height: var(--expanded-height)
    }

    to {
        height: var(--base-height)
    }
}

.Experience_threeContainer__B234N {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: auto;
    outline: none
}

.Experience_threeContainer__B234N canvas {
    pointer-events: none
}

.Experience_hiddenVideo__eXcWl {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: -1
}

.Experience_ui__LOC9h {
    position: absolute;
    color: #fff;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Experience_ui__link__L1UuR {
    pointer-events: auto
}

.Experience_ui__assets__WPYIe {
    pointer-events: auto;
    border-radius: 3px;
    padding: 10px 15px;
    background: transparent;
    color: #fff;
    border: 1px solid var(#fff)
}

.Experience_ui__ctaContainer__bgn3H {
    display: flex;
    flex-direction: column;
    justify-content: left
}

.Experience_ui__ctaContainerTop__PgloG {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;
    left: 20px;
    pointer-events: auto
}

.Experience_ui__cta__3hr9Z {
    pointer-events: auto
}

.Experience_ui__row__vBWT5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left
}

.Experience_ui__warnings__smJaB {
    position: absolute;
    right: 40px;
    bottom: 20px;
    box-sizing: border-box
}

.Experience_ui__warnings__smJaB ul {
    width: 400px
}

.Experience_ui__warnings__smJaB li {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #ff0;
    border-radius: 5px;
    border: 2px solid #000
}

.Experience_ui__sliderRow__03fq_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: left
}

.Experience_ui__sliderContainer__uN3kg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
    pointer-events: auto;
    background: rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 10px
}

.Experience_ui__sliderContainer__uN3kg .Experience_ui__globalSliderContainer__Qss6p::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: none
}

.Experience_ui__sliderContainer__uN3kg .Experience_ui__globalSliderContainer__Qss6p::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: linear-gradient(90deg, #293043, #293043), #d7d7d7;
    background-size: var(--background-size, 0) 100%;
    background-repeat: no-repeat;
    border-radius: 5px
}

@layer puzzle-container {
    .PuzzleContainer_puzzleContainer__MOlkQ {
        position: relative
    }
}

.PuzzleContainer_puzzleContainer__MOlkQ {
    --_community-unlock-columns: var(--community-unlock-columns, 10);
    --community-unlock-block-size: 16px;
    width: 400px
}

.PuzzleContainer_puzzleContainer__background__ODwzI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/Puzzle_Background_Tile.jpg);
    background-position: 50%;
    background-repeat: repeat;
    image-rendering: pixelated
}

@media(max-width:47.99em) {
    .PuzzleContainer_puzzleContainer__MOlkQ {
        width: 100%
    }
}

.PuzzleContainer_puzzleContainer__MOlkQ[data-is-fullscreen=true] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-puzzle-container-fullscreen)
}

.PuzzleContainer_puzzleContainer__MOlkQ[data-decryption-type=community] {
    width: calc(var(--community-unlock-block-size)*var(--_community-unlock-columns))
}

.PuzzleContainer_puzzleContainer__titleBar__SQ9v1 {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100%;
    background: #000
}

.PuzzleContainer_puzzleContainer__sketch__R2Nea,
.pattern-unlock_container__7gOjy {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border: 2px solid #b331e9;
    border-right: 2px solid #31d0e9; 
    border-bottom: 2px solid #315be9;
}

.pattern-unlock_container__7gOjy {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pattern-unlock_container__7gOjy>*+* {
    margin-top: 56px
}

.pattern-unlock_grid__GYQIy {
    --tile-size: 40px;
    --grid-gap-size: 56px;
    --line-sprite-size: calc(var(--grid-gap-size) + var(--tile-size) * 0.5);
    --line-sprite-columns: 4;
    --line-sprite-rows: 3;
    display: grid;
    grid-template-columns: repeat(3, var(--tile-size));
    grid-template-rows: repeat(3, var(--tile-size));
    grid-gap: var(--grid-gap-size);
    pointer-events: none
}

.pattern-unlock_grid__GYQIy[data-type=solution] {
    --tile-size: 8px;
    --grid-gap-size: 8px;
    --line-sprite-rows: 1
}

.pattern-unlock_grid__GYQIy>* {
    pointer-events: auto
}

.pattern-unlock_grid__tile__fTlTZ {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    image-rendering: pixelated;
    --_node-variant: var(--node-variant, 0);
    cursor: pointer;
    width: var(--tile-size);
    height: var(--tile-size)
}

.pattern-unlock_grid__tile__fTlTZ:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2
}

.pattern-unlock_grid__tile__fTlTZ[data-interactive=false] {
    pointer-events: none
}

.pattern-unlock_grid__GYQIy[data-type=solution] .pattern-unlock_grid__tile__fTlTZ:before {
    background-image: url(../../../images/pattern_unlock_solution_grid_tile.jpg);
    background-size: calc(var(--tile-size)*2) var(--tile-size)
}

.pattern-unlock_grid__GYQIy[data-type=solution] .pattern-unlock_grid__tile__fTlTZ[data-status=active]:before {
    background-position-x: calc(var(--tile-size)*-1)
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ:before {
    background-image: url(../../../images/pattern_unlock_nodes.jpg);
    background-size: calc(var(--tile-size)*9) calc(var(--tile-size)*2)
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ[data-status=locked]:before {
    background-position-x: 0;
    background-position-y: 0
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ[data-status=active]:before,
.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ[data-status=success]:before {
    background-position-x: calc(-1*(var(--tile-size) + var(--tile-size)*var(--_node-variant)))
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ[data-status=active]:before {
    background-position-y: 0
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ[data-status=success]:before {
    background-position-y: calc(-1*var(--tile-size))
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__tile__fTlTZ[data-status=fail]:before {
    background-position-x: 0;
    background-position-y: calc(var(--tile-size)*-1)
}

.pattern-unlock_grid__line__t90HL {
    --line-translate-x: 0;
    --line-translate-y: 0;
    --line-rotate: 0;
    --line-scale-x: 1;
    --line-scale-y: 1;
    --line-first-frame-index: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: var(--line-sprite-size);
    height: var(--line-sprite-size);
    background-image: url(../../../images/pattern_unlock_lines.png);
    background-repeat: no-repeat;
    background-size: calc(var(--line-sprite-columns)*var(--line-sprite-size)) calc(var(--line-sprite-rows)*var(--line-sprite-size));
    background-position-x: calc(var(--line-sprite-size)*-1*var(--line-first-frame-index));
    transform: translate(var(--line-translate-x), var(--line-translate-y)) rotate(var(--line-rotate)) scale(var(--line-scale-x), var(--line-scale-y))
}

.pattern-unlock_grid__GYQIy[data-type=solution] .pattern-unlock_grid__line__t90HL {
    background-image: url(../../../images/pattern_unlock_solution_grid_lines.jpg)
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__line__t90HL {
    animation: pattern-unlock_animate-line__KeT0i .3s steps(2) infinite
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__line__t90HL[data-status=success] {
    background-position-y: calc(var(--line-sprite-size)*-1)
}

.pattern-unlock_grid__GYQIy:not([data-type=solution]) .pattern-unlock_grid__line__t90HL[data-status=fail] {
    background-position-y: calc(var(--line-sprite-size)*-2)
}

.pattern-unlock_grid__line__t90HL:not([data-variant]) {
    display: none
}

.pattern-unlock_grid__line__t90HL[data-variant*=right] {
    left: var(--tile-size)
}

.pattern-unlock_grid__line__t90HL[data-variant*=left] {
    right: var(--tile-size)
}

.pattern-unlock_grid__line__t90HL[data-variant*=up] {
    bottom: var(--tile-size)
}

.pattern-unlock_grid__line__t90HL[data-variant*=down] {
    top: var(--tile-size)
}

.pattern-unlock_grid__line__t90HL[data-variant=left],
.pattern-unlock_grid__line__t90HL[data-variant=right] {
    --line-translate-y: -50%;
    --line-first-frame-index: 2;
    top: 50%
}

.pattern-unlock_grid__line__t90HL[data-variant=down],
.pattern-unlock_grid__line__t90HL[data-variant=up] {
    --line-translate-x: -50%;
    --line-rotate: 90deg;
    --line-first-frame-index: 2;
    left: 50%
}

.pattern-unlock_grid__line__t90HL[data-variant=left-down],
.pattern-unlock_grid__line__t90HL[data-variant=left-up] {
    --line-scale-x: -1
}

.pattern-unlock_grid__line__t90HL[data-variant=left-up],
.pattern-unlock_grid__line__t90HL[data-variant=right-up] {
    --line-scale-y: -1
}

@keyframes pattern-unlock_animate-line__KeT0i {
    to {
        background-position-x: calc(var(--line-sprite-size)*(-1*var(--line-first-frame-index) - 2))
    }
}

.ASCII_asciiLine___pEW_ {
    font-family: BlockZone;
    text-transform: uppercase;
    text-align: left;
    white-space: pre;
    font-size: 9.36px;
    line-height: 9px;
    letter-spacing: 0
}

.ASCII_asciiImage__IAM8G {
    max-width: 100%;
    image-rendering: pixelated;
    --_reveal-progress: var(--reveal-progress, 0);
    -webkit-clip-path: inset(0 0 var(--_reveal-progress) 0);
    clip-path: inset(0 0 var(--_reveal-progress) 0)
}

.UnlockScreen_unlockScreen__PetzS {
    --_line-reveal-interval: var(--line-reveal-interval, 1s);
    --_line-complete-content: "[COMPLETE]";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-dark-grey);
    text-transform: uppercase;
    pointer-events: auto;
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    color: var(--color-grey)
}

.UnlockScreen_unlockScreen__PetzS>*+* {
    margin-top: 1rem
}

.UnlockScreen_unlockScreen__content__z25XM {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1
}

.UnlockScreen_unlockScreen__puzzleContainer__CwBES {
    z-index: 2 !important;
    margin-top: 0
}

.UnlockScreen_unlockScreen__successWindow__pjAtu {
    position: absolute !important;
    top: calc(50% - 100px);
    left: calc(50% + 50px);
    z-index: 3
}

@media(max-width:47.99em) {
    .UnlockScreen_unlockScreen__successWindow__pjAtu {
        top: 50%;
        left: 50%;
        transform: translate(-35%, -150%) !important
    }
}

.UnlockScreen_unlockScreen__successCopy__qIFh2 {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    width: 230px;
    margin-bottom: 1rem;
    text-align: left
}

.UnlockScreen_unlockScreen__successCopy__qIFh2:first-child {
    margin: 1rem 0 0
}

.UnlockScreen_unlockScreen__successCopy__qIFh2:nth-child(2):after {
    display: inline-block;
    margin-left: .2rem;
    overflow: hidden;
    vertical-align: bottom;
    content: "";
    animation: UnlockScreen_dots__TgHDz var(--_line-reveal-interval) steps(5) infinite
}

.UnlockScreen_unlockScreen__line__NU3wo {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    color: var(--color-gray);
    text-align: start
}

.UnlockScreen_unlockScreen__line__NU3wo:after {
    content: var(--_line-complete-content);
    display: inline-block;
    margin-left: .5rem;
    overflow: hidden;
    vertical-align: bottom
}

.UnlockScreen_unlockScreen__PetzS[data-loading=true][data-scanning-assets=false] .UnlockScreen_unlockScreen__line__NU3wo[data-last-line=true]:after {
    content: "";
    animation: UnlockScreen_dots__TgHDz calc(var(--_line-reveal-interval)*.5) steps(5) infinite
}

.UnlockScreen_unlockScreen__PetzS[data-loading=true][data-scanning-assets=true] .UnlockScreen_unlockScreen__line__NU3wo[data-last-line=true]:after {
    content: ""
}

@keyframes UnlockScreen_dots__TgHDz {
    20% {
        content: ""
    }

    40% {
        content: "."
    }

    60% {
        content: ".."
    }

    80%,
    to {
        content: "..."
    }
}

.UnlockScreen_unlockScreen__progressBar__gKu_h {
    margin-top: .25rem
}

.UnlockScreen_unlockScreen__PetzS[data-scanning-assets=false]:not([data-state=outro-progress-bar]) .UnlockScreen_unlockScreen__progressBar__gKu_h {
    opacity: 0
}

.UnlockScreen_unlockScreen__ascii__xeo7H {
    white-space: pre;
    font-size: 8px;
    max-width: 90%;
    width: 320px
}

.UnlockScreen_unlockScreen__PetzS:not([data-state*=outro]) .UnlockScreen_unlockScreen__ascii__xeo7H,
.UnlockScreen_unlockScreen__PetzS:not([data-state=outro-progress-bar]) .UnlockScreen_unlockScreen__mapInitLine__Hradm {
    display: none
}

.UnlockScreen_unlockScreen__locked__55mv5 {
    text-align: left
}

.DashboardPageTransition_container__1fYvQ {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-dark-grey);
    text-transform: uppercase;
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    color: var(--color-grey)
}

.DashboardPageTransition_container__1fYvQ[data-show=false] {
    display: none
}

.DashboardPageTransition_container__1fYvQ[data-show=true] {
    display: flex
}

.DashboardPageTransition_container__1fYvQ>*+* {
    margin-top: 1rem
}

.DashboardPageTransition_content__AhcK5 {
    position: absolute;
    top: 30px;
    left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1
}

.DashboardPageTransition_content__AhcK5>*+* {
    margin-top: .3rem
}

@media(max-width:47.99em) {
    .DashboardPageTransition_content__AhcK5 {
        top: 50px
    }
}

.DashboardPageTransition_header__qD6bw {
    color: var(--color-black);
    font-family: ABCDiatypeMono-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    color: var(--color-gray)
}

.DashboardPageTransition_progressBar__P13HQ {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    width: 250px
}

.RotatePhoneScreen_rotatePhoneScreen__pgESt {
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    position: fixed;
    background: var(--color-grey);
    padding: 12px;
    box-sizing: border-box;
    overflow: scroll;
    display: flex
}

.RotatePhoneScreen_rotatePhoneScreen__pgESt .RotatePhoneScreen_textContainer___bFOw {
    width: 50%;
    color: var(--color-black)
}

.RotatePhoneScreen_rotatePhoneScreen__pgESt .RotatePhoneScreen_iconContainer__XZp3g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 50%
}

.RotatePhoneScreen_rotatePhoneScreen__pgESt .RotatePhoneScreen_iconContainer__XZp3g .RotatePhoneScreen_icon__hxBZf {
    width: 100px;
    height: 100px;
    background: red
}

@font-face {
    font-family: ABCDiatypeMono-Regular;
    src: url(../../../fonts/ABCDiatypeMono-Regular.woff2), url(../../../fonts/ABCDiatypeMono-Regular.woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: BlockZone;
    src: url(../../../fonts/BlockZone.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Disket Mono;
    src: url(../../../fonts/Disket-Mono-Regular.woff2) format("woff2"), url(../../../fonts/Disket-Mono-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Disket Mono;
    src: url(../../../fonts/Disket-Mono-Bold.woff2) format("woff2"), url(../../../fonts/Disket-Mono-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

.Error_error__Zq5GV {
    --_line-reveal-interval: var(--line-reveal-interval, 1s);
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    height: 100%;
    background: var(--color-dark-grey);
    gap: 4px;
    text-transform: uppercase;
    color: var(--color-grey)
}

.Error_ascii__eQI3v {
    max-width: 90%;
    width: 320px
}